 <!-- Create user form -->
 <div class="add-user-reactive">
  <form class="user-form" [formGroup]="userForm"  action="">
    <div class="input-container">
      <label for="name">Name</label>
      <input type="text" name="name" id="name"
        required
        minlength="4"
        formControlName="name"
      >
    </div>
  
   <div *ngIf="formObj.controls.name.status === 'INVALID' && !formObj.controls.name.pristine">
      <small *ngIf="formObj.controls.name.errors?.['required']" class="error-message">Name is required.</small>
      <small *ngIf="formObj.controls.name.errors?.['minlength']" class="error-message">Name is too short.</small>
    </div>
  
    <div class="input-container">
      <label for="surname">Surname</label>
      <input type="text" name="surname" id="surname"
        formControlName="surname"
        required
      >
    </div>
  
    <div class="input-container">
      <label for="address">Address</label>
      <input type="text" name="address" id="address"
      formControlName="address"
    > 
    </div>
  
    <div class="input-container">
      <label for="age">Age</label>
      <input type="number" name="age" id="age"
      formControlName="age"
      min="18"
    >
    </div>
  
    <div class="input-container">
      <label for="profession">Profession</label>
      <input type="text" name="profession" id="profession"
      formControlName="profession"
      required
    >
    </div>
  

    <!-- Extra details -->
    <div class="user-form__extra-details" (click)="handleAddExtraDetails($event)">
      <p #extraDetails class="extra-details__text">Extra details
        <span *ngIf="isAddFormExtraDetailsOpen">&uarr;</span>   
        <span *ngIf="!isAddFormExtraDetailsOpen">&darr;</span>
      </p>
   
  
        <div *ngIf="isAddFormExtraDetailsOpen" class="extra-details__content">
          <p>Please use a ',' for enumeration</p>
          <div  class="input-container">
            <label for="hobbies">Hobbies</label>
            <input type="text" name="hobbies" id="hobbies"
            formControlName="hobbies"
            >
          </div>
  
          <div  class="input-container">
            <label for="studies">Studies</label>
            <input type="text" name="studies" id="studies"
            formControlName="studies"
            >
          </div> 
          <div  class="input-container">
            <label for="competencies">Competencies</label>
            <input type="text" name="competencies" id="competencies"
              formControlName="competencies"
            >
          </div> 
  
          <div>
            <p class="experience__text" (click)="handleAddExperienceOpen()">
              Experience +
            </p>

            <div class="experience__chips-container">
              <ul class="experience__chips">
                <ng-container *ngIf="experienceFormObjList.value[0]">
                  <li *ngFor="let experience of experienceFormObjList.value; let ind = index" class="experience__chip">
                    
                    <span> {{ experience['jobTitle']  }} </span>
                    <button type="button" (click)="handleChipClick($event, ind)">x</button>
                  </li> 
                </ng-container>
     
              </ul>
            </div>

            <form formGroupName="experience">
            <div class="experience-container" *ngIf="isAddExperienceOpen" >
              <div  class="input-container input-container--sub-1">
                <label for="job-title">Job title </label>
                <input type="text" name="job-title" id="job-title"
                formControlName="jobTitle"
                >
              </div> 
              <div  class="input-container input-container--sub-2">
                <label for="years">Years </label> 
                <input type="number" name="years" id="years"
                formControlName="years"
                >
              </div> 
              <div  class="input-container input-container--sub-3">
                <label for="location">Location</label>
                <input type="text" name="location" id="location"
                formControlName="location"
                >
              </div> 

              <div class="experience__add-container">
                <button 
                [disabled]="
                 !(experienceFormObj?.value?.jobTitle && experienceFormObj?.value?.years && experienceFormObj?.value?.location)" 
                (click)="handleAddExperience()"> Add </button>
              </div>

            </div>
          </form>
 
          </div>
        </div>
    </div>
  
    <div class="button-container">
      <button [disabled]="formObj.status !== 'VALID'"  class="submit-button" (click)="handleSubmit()">
        Submit
      </button>
    </div>
  </form>
</div>


