.add-user-reactive {
  .user-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f9f9f9;
  }


  .user-form label {
    display: block;
    margin-bottom: 10px;

  }

  .input-container {
    width: 100%;
  }


  .error-message {
    display: block;
    color: red;
    margin-bottom: 10px;
    margin-top: -12px;
  }

  .user-form input, .user-form textarea {
    width: 100%;
    padding:8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 4px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .user-form__extra-details {
    text-align: center;
    border: 1px solid black;
    margin-bottom: 20px;


    label {
      text-align: left;
    }
  }

  .extra-details__content {
    padding: 15px;
  }

  .extra-details__text {
    cursor: pointer;
  }

  .experience__text {
    cursor: pointer;
  }


  .experience-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;

    grid-template-areas: 
    "input1 input2"
    "input3 input3"
    "add-container add-container"
  }

  .input-container--sub-3 {
    grid-area: input3;
  }

  .input-container--sub-2 {
    grid-area: input2;
  }

  .input-container--sub-2 {
    grid-area: input1;
  }  


  .experience__add-container {
    display: flex;
    justify-content: center;
    grid-area: add-container;
  }

  .experience__chips {
    display: flex;
    flex-wrap: wrap;
  }

  .experience__chip {
    display: flex;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;

    button {
      border: none;
      width: 100%;
      background: none;
      font-size: 18px;
      width: 40px;
    }
    span {
      align-self: center;
    }  
  }

}