<p>robots2 works!</p>
<p>Hello Logged Uesr:  {{ userEmail }} </p>

<div class="container">
  <h1> add robot </h1>
  <form (ngSubmit)="addRobot(nume, culoare, varsta)">
      <p> nume </p>
      <input name="nume" [(ngModel)]="nume">
      <p> culoare </p>
      <input name="culoare" [(ngModel)]="culoare">
      <p> varsta </p>
      <input   name="varsta" [(ngModel)]="varsta">
      <button type="submit"> submit </button>
  </form>
</div>


<ul>
  <li *ngFor="let robot of robots">
    <div>Nume:{{ robot.nume }}</div>
    <div [ngStyle]="{'background': robot.culoare}"> Culoare:{{ robot.culoare }}</div>
    <div>Varsta: {{ robot.varsta }}</div>
    <button (click)="handleDelete(robot.id)"> X </button>
    <button (click)="handleModify(robot.id)"> Modify </button>
  </li>
</ul>
