.navigation {
  display: flex;
  justify-content: flex-end;
  background-color: darkgray;
  ul {
    display: flex;
    gap: 20px;
    padding-right:20px;

    li a:hover {
      color: white;
    }
  }

}