.users-select {
  .users-select__list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  .selected-user {
    background-color: #efd002;
    background-image: linear-gradient(319deg, #efd002 0%, #31b74a 37%, #442ce0 100%);
    color: white;
  }
}
